Repository al4str/budget-client: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .js, npx stylelint --syntax scss, npx stylelint

.lintstagedrc:

{
  "*.js": "npx eslint --ext .js",
  "*.scss": "npx stylelint --syntax scss",
  "*.css": "npx stylelint"
}

prepare for deployment
  README.md
  deploy/run.sh
  package-lock.json
Due: none

install all deps during docker build
  deploy/Dockerfile
Due: none

finish docker run script
  deploy/run.sh
Due: none

update profile form
  src/components/profile/Form/index.js
Due: npx eslint --ext .js

update readme
  README.md
Due: none

tune deployment
  deploy/Dockerfile
  deploy/nginx.conf
  deploy/run.sh
  package-lock.json
  package.json
Due: none

provide true viewport height
  src/components/App/index.js
Due: npx eslint --ext .js

turn off auth userId capitalization
  src/components/auth/User/index.js
Due: npx eslint --ext .js

do not render main page content if not authed
  src/components/main/View/index.js
Due: npx eslint --ext .js

remove useless auto focus
  src/components/create/StepSum/index.js
Due: npx eslint --ext .js

update initial amount on commodity create
  src/components/create/StepCommodities/index.js
Due: npx eslint --ext .js

prevent initial categoryId reset after new commodity creation
  src/components/commodities/hooks/create.js
Due: npx eslint --ext .js

adjust menu buttons transparency
  src/components/create/Menu/styles.scss
Due: npx stylelint --syntax scss

make income/expense action button sticky and slightly transparent
  src/components/create/Overlay/index.js
  src/components/create/Overlay/styles.scss
Due: npx eslint --ext .js, npx stylelint --syntax scss

tweak deployment
  deploy/Dockerfile
  deploy/run.sh
Due: none

tweak deployment
  deploy/Dockerfile
  deploy/run.sh
  package.json
Due: none

tweak deployment
  deploy/run.sh
Due: none

hide overlays if unauthed
  src/components/page/Layout/index.js
Due: npx eslint --ext .js

bump version
  package.json
Due: none

remove fibers
  package-lock.json
  package.json
  webpack/config/loaders/scss.js
Due: npx eslint --ext .js

add meta
  package.json
Due: none

temp disable binaries tools
  deploy/Dockerfile
Due: none

delete binaries tools
  deploy/Dockerfile
Due: none

fix my stupidity
  src/components/page/Layout/index.js
Due: npx eslint --ext .js

replace translation hook
  src/components/categories/FormCreate/index.js
  src/components/categories/OverlayCreate/index.js
  src/components/categories/PageCreate/index.js
  src/components/categories/PageItem/index.js
  src/components/categories/PageList/index.js
  src/components/categories/hooks/create.js
  src/components/commodities/FormCreate/index.js
  src/components/commodities/OverlayCreate/index.js
  src/components/commodities/hooks/create.js
  src/components/main/Page/index.js
  src/components/page/ErrorBoundary/Fallback/index.js
  src/components/profile/Page/index.js
  src/components/profile/View/index.js
  src/components/ui/fields/Select/index.js
  src/hooks/useI18n.js
Due: npx eslint --ext .js

finish i18n
  package.json
  src/components/App/index.js
  src/components/page/RouteReady/index.js
  src/components/profile/Languages/index.js
  src/components/profile/Languages/styles.scss
  src/components/profile/View/index.js
  src/components/profile/View/styles.scss
  src/helpers/i18n.js
  src/hooks/useI18n.js
  src/static/i18n/en.json
  src/static/i18n/ru.json
Due: npx eslint --ext .js, npx stylelint --syntax scss

update header menu
  src/components/menu/Mobile/index.js
  src/components/menu/Mobile/styles.scss
  src/components/users/Avatar/index.js
  src/styles/variables.scss
Due: npx eslint --ext .js, npx stylelint --syntax scss

delete temp categories pages
  src/components/categories/PageCreate/index.js
  src/components/categories/PageItem/index.js
  src/components/categories/PageList/index.js
  src/helpers/pages.js
  src/helpers/routes.js
  src/libs/chunks.js
  src/libs/navigationManager.js
Due: npx eslint --ext .js

add backups page
  src/components/backups/Page/index.js
  src/components/backups/View/index.js
  src/components/backups/View/styles.scss
  src/components/icons/IconBackup.js
  src/components/menu/Mobile/index.js
  src/components/menu/Mobile/styles.scss
  src/helpers/backups.js
  src/helpers/pages.js
  src/helpers/routes.js
  src/static/i18n/en.json
  src/static/i18n/ru.json
  src/vectors/backup.svg
Due: npx eslint --ext .js, npx stylelint --syntax scss

handle 403 response status code
  src/components/App/index.js
  src/components/auth/View/index.js
  src/hooks/useSession.js
  src/libs/fetch.js
Due: npx eslint --ext .js

replace basic submit with sticky
  src/components/backups/View/index.js
  src/components/backups/View/styles.scss
  src/components/categories/FormCreate/index.js
  src/components/categories/FormCreate/styles.scss
  src/components/categories/FormCreate/useForm.js
  src/components/commodities/FormCreate/index.js
  src/components/commodities/FormCreate/styles.scss
  src/components/commodities/FormCreate/useForm.js
  src/components/create/Overlay/index.js
  src/components/create/Overlay/styles.scss
  src/components/expenditures/FormAdd/index.js
  src/components/expenditures/FormAdd/styles.scss
  src/components/expenditures/FormAdd/useForm.js
  src/components/profile/Form/index.js
  src/components/profile/Form/styles.scss
  src/components/profile/Form/useForm.js
  src/components/profile/View/index.js
  src/components/profile/View/styles.scss
  src/components/ui/SubmitSticky/index.js
  src/components/ui/SubmitSticky/styles.scss
Due: npx eslint --ext .js, npx stylelint --syntax scss

simplify logo
  src/static/favicons/android-chrome-192x192.png
  src/static/favicons/android-chrome-512x512.png
  src/static/favicons/apple-touch-icon.png
  src/static/favicons/favicon-16x16.png
  src/static/favicons/favicon-32x32.png
  src/static/favicons/favicon.ico
  src/static/favicons/mstile-144x144.png
  src/static/favicons/mstile-150x150.png
  src/static/favicons/mstile-310x150.png
  src/static/favicons/mstile-310x310.png
  src/static/favicons/mstile-70x70.png
  src/static/favicons/safari-pinned-tab.svg
  src/static/manifest.json
  src/templates/index.html
  src/vectors/logo.svg
  webpack/config/plugins/copy.js
  webpack/constants.js
Due: npx eslint --ext .js

collapse income and expenses into transactions
  package.json
  src/components/categories/FormCreate/useForm.js
  src/components/commodities/FormCreate/useForm.js
  src/components/main/Month/index.js
  src/components/main/View/index.js
  src/components/transaction/Menu/index.js
  src/components/transaction/Menu/styles.scss
  src/components/transaction/Overlay/index.js
  src/components/transaction/Overlay/styles.scss
  src/components/transaction/PageExpense/index.js
  src/components/transaction/PageIncome/index.js
  src/components/transaction/StepCategory/index.js
  src/components/transaction/StepCategory/styles.scss
  src/components/transaction/StepCommodities/index.js
  src/components/transaction/StepCommodities/styles.scss
  src/components/transaction/StepConfirm/index.js
  src/components/transaction/StepConfirm/styles.scss
  src/components/transaction/StepDate/index.js
  src/components/transaction/StepDate/styles.scss
  src/components/transaction/StepExpenditures/index.js
  src/components/transaction/StepExpenditures/styles.scss
  src/components/transaction/StepSum/index.js
  src/components/transaction/StepSum/styles.scss
  src/components/transaction/StepUser/index.js
  src/components/transaction/StepUser/styles.scss
  src/components/transaction/StepView/index.js
  src/components/transaction/StepView/styles.scss
  src/helpers/categories.js
  src/helpers/expenses.js
  src/helpers/pages.js
  src/helpers/resources.js
  src/helpers/transactions.js
  src/hooks/useCategories.js
  src/hooks/useIncome.js
  src/hooks/useTransactions.js
  src/static/i18n/en.json
  src/static/i18n/ru.json
Due: npx eslint --ext .js, npx stylelint --syntax scss

svgo safari tab icon
  src/static/favicons/safari-pinned-tab.svg
Due: none

fix empty type
  src/helpers/resources.js
Due: npx eslint --ext .js

rename "create" into "transaction"
  src/components/main/View/index.js
  src/components/transaction/Menu/index.js
  src/components/transaction/Overlay/index.js
  src/components/transaction/Page/index.js
  src/components/transaction/PageExpense/index.js
  src/components/transaction/PageIncome/index.js
  src/components/transaction/StepCategory/index.js
  src/components/transaction/StepCommodities/index.js
  src/components/transaction/StepConfirm/index.js
  src/components/transaction/StepDate/index.js
  src/components/transaction/StepExpenditures/index.js
  src/components/transaction/StepSum/index.js
  src/components/transaction/StepUser/index.js
  src/components/transaction/StepView/index.js
  src/helpers/pages.js
  src/helpers/routes.js
  src/helpers/transactions.js
  src/hooks/useCategories.js
  src/static/i18n/en.json
  src/static/i18n/ru.json
Due: npx eslint --ext .js

improve transaction creation
  src/components/expenditures/FormAdd/index.js
  src/components/main/Month/index.js
  src/components/transaction/Overlay/index.js
  src/components/transaction/StepCategory/index.js
  src/components/transaction/StepCommodities/index.js
  src/components/transaction/StepConfirm/index.js
  src/components/transaction/StepSum/index.js
  src/helpers/expenditures.js
  src/hooks/useExpenditures.js
  src/static/i18n/en.json
  src/static/i18n/ru.json
Due: npx eslint --ext .js

temp, ability to view, update, delete transactions
  package.json
  src/components/App/index.js
  src/components/main/Month/index.js
  src/components/transaction/Expenditures/index.js
  src/components/transaction/Expenditures/styles.scss
  src/components/transaction/Overlay/index.js
  src/components/transaction/Overlay/styles.scss
  src/components/transaction/Overview/index.js
  src/components/transaction/Overview/styles.scss
  src/components/transaction/Page/index.js
  src/components/transaction/StepCommodities/index.js
  src/components/transaction/StepConfirm/index.js
  src/components/transaction/StepConfirm/styles.scss
  src/components/transaction/StepView/index.js
  src/components/transaction/StepView/styles.scss
  src/helpers/pages.js
  src/helpers/routes.js
  src/libs/sum.js
  src/static/i18n/en.json
  src/static/i18n/ru.json
  src/styles/links.scss
Due: npx eslint --ext .js, npx stylelint --syntax scss

move expenditures into transaction
  package.json
  src/components/App/index.js
  src/components/main/Month/index.js
  src/components/transaction/Expenditures/index.js
  src/components/transaction/Overlay/index.js
  src/components/transaction/Overview/index.js
  src/components/transaction/Page/index.js
  src/components/transaction/StepCommodities/index.js
  src/components/transaction/StepSum/index.js
  src/components/transaction/StepSum/styles.scss
  src/components/transaction/StepView/index.js
  src/helpers/expenditures.js
  src/helpers/transactions.js
  src/hooks/useExpenditures.js
  src/hooks/useTransactions.js
  src/libs/sum.js
  src/static/i18n/en.json
  src/static/i18n/ru.json
Due: npx eslint --ext .js, npx stylelint --syntax scss
