Repository al4str/budget-client: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .js, npx stylelint --syntax scss, npx stylelint

add list selector
  package-lock.json
  package.json
  src/components/App/index.js
  src/components/main/Month/index.js
  src/components/transaction/Page/index.js
  src/helpers/resources.js
Due: npx eslint --ext .js

restore overlay Y scroll position
  package.json
  src/components/overlays/Body/styles.scss
  src/components/overlays/Footer/index.js
  src/components/overlays/Footer/styles.scss
  src/components/overlays/Header/styles.scss
  src/components/overlays/Overlay/index.js
  src/components/overlays/Overlay/styles.scss
  src/components/transaction/Overlay/styles.scss
  src/components/ui/SubmitSticky/styles.scss
  src/hooks/useOverlays.js
Due: npx eslint --ext .js, npx stylelint --syntax scss

add number field and budget page
  package.json
  src/components/App/index.js
  src/components/budget/Page/index.js
  src/components/budget/View/index.js
  src/components/budget/View/styles.scss
  src/components/expenditures/FormAdd/index.js
  src/components/icons/IconBudget.js
  src/components/icons/IconUpDown.js
  src/components/menu/Mobile/index.js
  src/components/profile/Page/index.js
  src/components/profile/View/index.js
  src/components/transaction/StepSum/index.js
  src/components/transaction/StepSum/styles.scss
  src/components/ui/fields/Number/index.js
  src/components/ui/fields/Number/styles.scss
  src/helpers/budget.js
  src/helpers/pages.js
  src/helpers/routes.js
  src/hooks/useBudget.js
  src/libs/sum.js
  src/static/i18n/en.json
  src/static/i18n/ru.json
  src/vectors/budget.svg
  src/vectors/up-down.svg
Due: npx eslint --ext .js, npx stylelint --syntax scss

add budget income field
  package.json
  src/components/budget/View/index.js
  src/helpers/budget.js
  src/hooks/useBudget.js
Due: npx eslint --ext .js

add budget limit indicator for month view
  package.json
  src/components/main/Month/index.js
  src/components/main/Month/styles.scss
  src/components/ui/fields/Number/index.js
Due: npx eslint --ext .js, npx stylelint --syntax scss

fix history go back outside application zone
  src/libs/navigationManager.js
Due: npx eslint --ext .js

add proper cursor to number field
  src/components/ui/fields/Number/styles.scss
Due: npx stylelint --syntax scss

constrain body overflow only on touch devices
  src/styles/common.scss
Due: npx stylelint --syntax scss

get rid of useless budget set action
  src/components/budget/View/index.js
Due: npx eslint --ext .js

pass and get date prop for transaction creation and month view
  package.json
  src/components/main/Page/index.js
  src/components/main/View/index.js
  src/components/transaction/Menu/index.js
  src/components/transaction/Overlay/index.js
  src/components/transaction/Page/index.js
  src/components/transaction/StepCategory/index.js
  src/components/transaction/StepCommodities/index.js
Due: npx eslint --ext .js

sort categories and commodities in transaction creation
  src/components/transaction/StepCategory/index.js
  src/components/transaction/StepCommodities/index.js
Due: npx eslint --ext .js

fix history back fallback url
  src/components/transaction/Overlay/index.js
Due: npx eslint --ext .js

center/bottom transaction creation steps
  src/components/transaction/StepCategory/styles.scss
  src/components/transaction/StepCommodities/styles.scss
  src/components/transaction/StepConfirm/index.js
  src/components/transaction/StepConfirm/styles.scss
  src/components/transaction/StepUser/styles.scss
Due: npx eslint --ext .js, npx stylelint --syntax scss

bump version
  package.json
Due: none

set proper amount placeholder
  src/static/i18n/en.json
  src/static/i18n/ru.json
Due: none

pass type to category creation
  src/components/categories/FormCreate/index.js
  src/components/categories/FormCreate/useForm.js
  src/components/categories/OverlayCreate/index.js
  src/components/transaction/StepCategory/index.js
Due: npx eslint --ext .js

fix number field arrows handling
  package.json
  src/components/ui/fields/Number/index.js
Due: npx eslint --ext .js

fix form usages
  package.json
  src/components/categories/FormCreate/useForm.js
  src/components/commodities/FormCreate/useForm.js
  src/components/expenditures/FormAdd/useForm.js
  src/components/profile/Form/useForm.js
Due: npx eslint --ext .js

Path conditions:
  npx eslint --ext .js: any of: *.js
  npx stylelint --syntax scss: any of: *.scss
  npx stylelint: any of: *.css
